.calendar {
    &__header {
        display: flex;
        padding-left: 55px;
    }

    &__body {
        overflow-y: scroll;
        height: 80vh;
        padding-top: 5px;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__day-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__week-container {
        display: flex;
    }

    &__time-scale {
        display: flex;
        flex-direction: column;
    }

    &__week {
        width: 100%;
        display: flex;
    }

    &__day {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__time-slot {
        height: 60px;
        border-top: 1px solid $color-light-gray;
        border-right: 1px solid $color-light-gray;
        position: relative;
    }
}

.day-label {
    padding: 16px 0 16px 0;
    text-transform: uppercase;

    &__day-name {
        display: block;
        font-size: 12px;
        color: $color-dark-gray;
    }

    &__day-number {
        display: block;
        margin-top: 6px;
        font-size: 28px;
        color: $color-dark-gray;
    }
}

.time-slot {
    display: inline;
    height: 60px;
    width: 55px;
    font-size: 14px;
    border-top: 1px solid $color-light-gray;
    border-right: 1px solid $color-light-gray;
    position: relative;

    &__time {
        position: absolute;
        top: -15px;
        background-color: #fff;
        padding: 5px;
    }
}
