$color-light-gray: #b4b4b4;
$buttons-background-color: #f1f1f1;
$color-dark-gray: #3c3c3c;
$backgroung-event-color: #6495ed;

.button,
.delete-event-btn {
  height: 40px;
  padding: 0 10px 0 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $buttons-background-color;

  &:focus {
    background-color: $buttons-background-color;
  }
}

.delete-event-btn {
  height: 30px;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;

  &:focus {
    background-color: transparent;
  }
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;

  &__content {
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup {
  &__content {
    position: absolute;
    background: #fff;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.hidden {
  display: none;
}

.decorate-red-line {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
}
